.block-img {
    .block-content img {
        position: relative;
        z-index: 100;
    }
    .block-letter {
        top: -110px;
    }
}


.block-letter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26em;
    position: absolute;
    line-height: 309px;
    color:#000;
    z-index: -1;
    top: 0px;
}

.block-letter.letter-left {
    left: -54px;
}
.block-letter.letter-right {
    right: -54px;
}

.block-shift {
    padding: 70px;
    background-color: #000;
    color:#fff;
    display: inline-block;
    margin-right: 60px;
    margin-top: 83px;
}

.block-break {
    padding: 10% 10%;
    background-color: #000;
    color: #fff;
    text-align: center;

    .block-separator {
        margin: 40px auto;
        border-top: 2px solid #fff;
        width: 90px;     
    }

}
