
.btn-primary {
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 0px;
  color: #000;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.btn-reverse {
  background: none;
  color:#fff;

}
.btn-next::after {
  content: "\02192";
  position: absolute;
  margin-left: 5px;
}
.btn-dark {
  background: none;
  border:1px solid transparent;
  border-radius: 50px;
  .btn-header {
    text-style:italic;
    color: #aaa;
    display: block;
    transition: all 0.7s ease-in-out;
  }
  .btn-content {
    font-size: 2em;
  }
}


.btn-dark:hover {
  border:1px solid rgba(200, 200, 200, 0.3);
  transform: scale(1.05);
  .btn-header {
    transform: scale(1.05);
    color:#fff;
  }
}

.btn-dark.one {
  color:  rgba(158, 57, 73, 1);
}

.btn-dark.two {
  color:  rgba(158, 57, 73, 1);
}

.btn-dark.three {
  color:  rgba(158, 57, 73, 1);
}


